[package]
name = "main"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "sudoku-solver"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5.53", features = ["derive"] }
rayon = "1.11.0"
indicatif = "0.18"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
